<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>sgsstc.grupoli.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>grupoli.com</MSDeployServiceURL>
    <DeployIisAppPath>sgsstc.grupoli.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>grupolicom</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GrupoLiEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=asael.colombiahosting.com.co\MSSQLSERVER2012;Initial Catalog=grupolicom_sgsst;Persist Security Info=True;User ID=grupolicom_SGSST;Password=Lut637w_" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Capa_Datos.GrupoLiEntities, Capa_Datos" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="GrupoLiEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ModeloGrupoLi.csdl|res://*/ModeloGrupoLi.ssdl|res://*/ModeloGrupoLi.msl;provider=System.Data.SqlClient;provider connection string="Data Source=asael.colombiahosting.com.co\MSSQLSERVER2012;Initial Catalog=grupolicom_sgsst;Persist Security Info=True;User ID=grupolicom_SGSST;Password=Lut637w_"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GrupoLiEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ModeloGrupoLi.csdl|res://*/ModeloGrupoLi.ssdl|res://*/ModeloGrupoLi.msl;provider=System.Data.SqlClient;provider connection string="Data Source=asael.colombiahosting.com.co\MSSQLSERVER2012;Initial Catalog=grupolicom_sgsst;Persist Security Info=True;User ID=grupolicom_SGSST;Password=Lut637w_"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GrupoLiEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ModeloGrupoLi.csdl|res://*/ModeloGrupoLi.ssdl|res://*/ModeloGrupoLi.msl;provider=System.Data.SqlClient;provider connection string="Data Source=asael.colombiahosting.com.co\MSSQLSERVER2012;Initial Catalog=grupolicom_sgsst;Persist Security Info=True;User ID=grupolicom_SGSST;Password=Lut637w_"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GrupoLiEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ModeloGrupoLi.csdl|res://*/ModeloGrupoLi.ssdl|res://*/ModeloGrupoLi.msl;provider=System.Data.SqlClient;provider connection string="Data Source=asael.colombiahosting.com.co\MSSQLSERVER2012;Initial Catalog=grupolicom_sgsst;Persist Security Info=True;User ID=grupolicom_SGSST;Password=Lut637w_"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GrupoLiEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ModeloGrupoLi.csdl|res://*/ModeloGrupoLi.ssdl|res://*/ModeloGrupoLi.msl;provider=System.Data.SqlClient;provider connection string="Data Source=asael.colombiahosting.com.co\MSSQLSERVER2012;Initial Catalog=grupolicom_sgsst;Persist Security Info=True;User ID=grupolicom_SGSST;Password=Lut637w_"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GrupoLiEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ModeloGrupoLi.csdl|res://*/ModeloGrupoLi.ssdl|res://*/ModeloGrupoLi.msl;provider=System.Data.SqlClient;provider connection string="Data Source=asael.colombiahosting.com.co\MSSQLSERVER2012;Initial Catalog=grupolicom_sgsst;Persist Security Info=True;User ID=grupolicom_SGSST;Password=Lut637w_"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GrupoLiEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ModeloGrupoLi.csdl|res://*/ModeloGrupoLi.ssdl|res://*/ModeloGrupoLi.msl;provider=System.Data.SqlClient;provider connection string="Data Source=asael.colombiahosting.com.co\MSSQLSERVER2012;Initial Catalog=grupolicom_sgsst;Persist Security Info=True;User ID=grupolicom_SGSST;Password=Lut637w_"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GrupoLiEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ModeloGrupoLi.csdl|res://*/ModeloGrupoLi.ssdl|res://*/ModeloGrupoLi.msl;provider=System.Data.SqlClient;provider connection string="Data Source=asael.colombiahosting.com.co\MSSQLSERVER2012;Initial Catalog=grupolicom_sgsst;Persist Security Info=True;User ID=grupolicom_SGSST;Password=Lut637w_"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GrupoLiEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ModeloGrupoLi.csdl|res://*/ModeloGrupoLi.ssdl|res://*/ModeloGrupoLi.msl;provider=System.Data.SqlClient;provider connection string="Data Source=asael.colombiahosting.com.co\MSSQLSERVER2012;Initial Catalog=grupolicom_sgsst;Persist Security Info=True;User ID=grupolicom_SGSST;Password=Lut637w_"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GrupoLiEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ModeloGrupoLi.csdl|res://*/ModeloGrupoLi.ssdl|res://*/ModeloGrupoLi.msl;provider=System.Data.SqlClient;provider connection string="Data Source=asael.colombiahosting.com.co\MSSQLSERVER2012;Initial Catalog=grupolicom_sgsst;Persist Security Info=True;User ID=grupolicom_SGSST;Password=Lut637w_"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GrupoLiEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ModeloGrupoLi.csdl|res://*/ModeloGrupoLi.ssdl|res://*/ModeloGrupoLi.msl;provider=System.Data.SqlClient;provider connection string="Data Source=asael.colombiahosting.com.co\MSSQLSERVER2012;Initial Catalog=grupolicom_sgsst;Persist Security Info=True;User ID=grupolicom_SGSST;Password=Lut637w_"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>